{% extends 'layout.html' %}

{% block content %}
<div class="container">   
  <form action="" method="POST">
    <div class="row">
      <div class="col">
        <h2 style="text-align: center;">Overview</h2>
        <p>
        Simply enter the ticker symbol for the stock of your choosing along with your desired start/end dates in YYYY-M-D format.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="Ticker">Ticker</label>
        <input type="text" name="Ticker" placeholder="Ex: msft" value="{{ request.form['Ticker'] }}">

        <label for="StartDate">Start Date</label>
        <input type="text" name="StartDate" placeholder="YYYY-MM-DD" value="{{ request.form['StartDate'] }}">
        <label for="EndDate">End Date</label>
        <input type="text" name="EndDate" placeholder="YYYY-MM-DD" value="{{ request.form['EndDate'] }}">
        <br>
        <label for="ShortMA">Short Moving Average</label>
        <input type="number" name="ShortMA" placeholder="Days" value="{{ request.form['ShortMA'] }}">
        <label for="LongMA">Long Moving Average</label>
        <input type="number" name="LongMA" placeholder="Days" value="{{ request.form['LongMA'] }}">

        <input type="submit" value="Submit">
      </div>
    </div>

  </form>
    <div class="row" style="padding-top: 30px;">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <td>DATE</td>
              <td>PRICE</td>
              <td>SHORT-MA</td>
              <td>LONG-MA</td>
              <td>BB-SIGNAL</td>
              <td>RSI</td>
              <td>TREND</td>
            </tr>
          </thead>
            {% block body %}
            {% endblock %}
        </table>
      </div>
    </div>
</div>
{% endblock %}