<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Trader </title>

        <style>
            table {
 
            }
        </style>
    </head>
<body>
    <div>
        <center>
            <h1> Trading Assistant</h1>
        </center>
    </div>
    <div>
        <table>
            <thead>
                <tr>
                    <td> Ticker </td>
                    <td> Shares </td>
                    <td> Price  </td>
                    <td>  RSI   </td>
                    <td> Signal </td>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>