<!DOCTYPE html>
<html>
    <head>
        <title> Trading Assistant </title>
        <style>
            * {box-sizing: border-box;}
            body {background-color:beige;}
            header {
                background-color:aquamarine;
                padding: 30px;
                text-align: center;
                font-size: 25px;
            }           
    
        </style>
    </head>
    <body>
        <header> 
            <h2> Trade Helper </h2>
        </header>

    </body>
</html>
