{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h3 style="text-align: center;"> Relative Strength Index</h3>
            <h6>Overview</h6>
            <p>
            Relative Strength Index (RSI) is a momentum indicator that measures the magnitude of recent price changes to evaluate overbought and oversold
            conditions in the price of an asset. RSI scores range from 0-100, an asset is considered overbought (Sell signal) when RSI is greater than 70 and oversold (Buy signal) 
            when RSI is less than 30. 
            </p>
            <h6>What Relative Strength Index Tells You</h6>
            <h6>Calculation</h6>
            <h6>Limitations</h6>
            <p>
            More information can be found by visiting these two links:
            <a href="https://www.investopedia.com/terms/r/rsi.asp"> Link 1</a>
            <a href="https://www.investopedia.com/investing/momentum-and-relative-strength-index/">Link 2</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 style="text-align: center;"> Bollinger Bands</h3>
            <h6>Overview</h6>
            <p>
            The Bollinger Bands indicator is composed of three lines, a middle band, upper band, and lower band. The middle band represents the 
            simple moving average of an asset's price over a specified period, typically 20 days. The upper and lower bands are typically set to be +/- 2 standard
            deviations away from the middle band. The idea is that the closer prices move towards the upper band, the more oversold the market is and the closer 
            they move towards the lower band, the more oversold the market is. Standard deviation is a way to measure market volatility. As the bands widen, this represents 
            this represents a more volatile market and when the bands contract, this represents a less volatile market. 
            </p>
            <h6>What Bollinger Bands Tells You</h6>
            <h6>Calculation</h6>
            <h6>Limitations</h6>
        </div>
    </div>
</div>
{% endblock %}