{% extends 'layout.html' %}

{% block content %}
<div class="container">   
  <form action="" method="POST">

    <div class="row">
      <div class="col">
        <h2 style="text-align: center;">Instructions</h2>
        <p>
        The goal of this page is to let you simulate trading scenarios over a specified date range for multiple stocks, and see the actual profit/loss.   
        </p>
        <p>
        First, enter the stocks you would like to use in comma separated format. Then, enter your desired start/end dates in the format YYYY-M-D. 
        </p>
        <p>
        NOTE: The larger your date range is and the more stocks you use for the simulation, the longer it will take to generate the results. 
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <label for="Tickers">Tickers</label>
        <input type="text" name="Tickers" placeholder="Ex: msft,aapl,snap" value="{{ request.form['Tickers'] }}">
        
        <label for="StartDate">Start Date</label>
        <input type="text" name="StartDate" placeholder="YYYY-MM-DD" value="{{ request.form['StartDate'] }}">
        <label for="EndDate">End Date</label>
        <input type="text" name="EndDate" placeholder="YYYY-MM-DD" value="{{ request.form['EndDate'] }}">

        <input type="checkbox" name="Checkbox" lab>
        <label for="Checkbox">Only Show Buy/Sell</label>
        <input type="submit" value="Submit">
        
      </div>
    </div>

  </form>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <td>DATE</td>
            <td>TICKER</td>
            <td>PRICE</td>
            <td>RSI</td>
            <td>ACTION</td>
            <td>PROFIT</td>
          </tr>
        </thead>
          {% block body %}
          {% endblock %}
      </table>
    </div>
</div>
{% endblock %}