{% extends 'layout.html' %}

{% block content %}
<div class="container">   
  <form action="" method="POST">
    <div class="row">
      <div class="col">
        <label for="Ticker">Ticker</label>
        <input type="text" name="Ticker" value="{{ request.form['Ticker'] }}">

        <label for="StartDate">Start Date</label>
        <input type="text" name="StartDate" value="{{ request.form['StartDate'] }}">
        <label for="EndDate">End Date</label>
        <input type="text" name="EndDate" value="{{ request.form['EndDate'] }}">
        <input type="submit" value="Submit">
      </div>
    </div>

  </form>
    <div class="row" style="padding-top: 30px;">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <td>DATE</td>
              <td>PRICE</td>
              <td>RSI</td>
              <td>RSI-SIGNAL</td>
              <td>BB-SIGNAL</td>
            </tr>
          </thead>
            {% block body %}
            {% endblock %}
        </table>
      </div>
    </div>
</div>
{% endblock %}